<h2>Lista de Cursos</h2>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filtar por:</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control" >
    </div>
</div>    
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>IMAGE</th>
            <th>DESCICAO:</th>
            <th>PRECO</th>
            <th>CODIGO</th>
            <th>DURACAO</th>
            <th>AVALIACAO</th>
            <th>OPÇOES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td><img [src]="course.imageUrl" width="20" height="20"></td>
            <td>{{course.description}}</td>
            <td>{{course.price}}</td>
            <td>{{course.code | lowercase}}</td>
            <td>{{course.duration}}</td>
            <td> <app-star [rating]="course.rating"> </app-star></td>
            <td>
                 <a [routerLink]="['/cursos/info', course.id]" class="btn btn-primary mr-2">Editar</a> 
                 <button (click)="deleteById(course.id)" class="btn btn-danger">Deletar</button>
            </td>
       </tr>
    </tbody>
</table>